.hero-section {
    background: url('https://t4.ftcdn.net/jpg/07/02/99/95/360_F_702999566_hLZg2DwuYTG0f9H5yTShfnDoupQPfQnl.jpg') no-repeat center center/cover;
    height: 90vh;
    display: flex;
    justify-content: left;
    align-items:center;
    color: black;
    
}

.hero-content h1 {
    font-size: 50pt;
    margin-left: 2rem;
    margin-bottom: 5px;
    text-align: left;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
}

.hero-content p {
    font-size: 14pt;
    margin-left: 2rem;
    text-align: center;
    margin-top: none;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    line-height: 5px;
}

.join-us-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0e8b97;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 5px;
    align-items:center;
    margin-left: 17rem;
    margin-top: 2rem;
    
}
a#linkhovhero:hover{
    background-color: #beeef8;
}
nav ul li {
    list-style-type: none;
    font-size: medium; 
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;

}
nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration-line: none;

}

nav {
    background-color: 	#0e8b97;
    width: auto;
    padding: 3px;

    position: sticky;
    top : 0;
    line-height:5px;
    display: flex;
    justify-content: flex-end;
}

nav ul{
    padding-inline : 4rem;
    display: flex;
    
    gap: 2rem;
}

a#linkhov:hover {
 color: aliceblue;
}

.formulir{
    padding: 20px 0;
    background-color:#dcdcdc;
    align-items: center;
    text-align: center;
    
}
.formulir h2{
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#registration-form label {
    display: block;
    margin-top: 10px;
}

#registration-form input {
    display: flex;
    width: 70%;
    padding: 10px;
    margin-top: 5px;
    margin-left: 15em;  
}

#status {
    display: flex;
}

#check {
    margin-left: 10px;
    white-space: nowrap;
}

#submit-form{
  background-color: #0e8b97;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor:pointer;
}

#warning {
    color: red;
}

.programcat {
    padding: 20px 0;
    text-align: center;
    background-color:#dcdcdc;
}

.programcat h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.programs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
}

.program {
    margin: 10px;
    text-align: center; 
}

.program img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px; 
}

.program p {
    margin: 10px 0 0;
    font-size: 1.5em;
    font-family: "Boogaloo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Facility {
  text-align: center;
  padding: 20px;
  background-color:#dcdcdc;
}
 

.Facilities {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.Facility h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.circle img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 1.5px solid black;
}

.circle p {
    margin: 10px 0 0;
    font-size: 1.5em;
    font-family: "Boogaloo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.icon {
    display: flex;
    justify-content: center;
    margin-left: auto;
    transition: transform .2s; 
}

.icon a {
    margin: 0 10px; 
}

#partner{
    background-color:#dcdcdc ;
    padding: 20px;
}

#partner h2{
   font-size: 2.5em;
   margin-bottom: 20px;
   font-family: "Protest Strike", sans-serif;
   font-weight: 400;
   font-style: normal; 
   text-align: center;
}

 .icon img {
    width: 150px; 
    height: auto;
    
}

.icon :hover{
    transform: scale(1.5);
   
}

footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
  margin-bottom: 20px;
}

.footer-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  background-color: #222;
  color: #ccc;
  font-size: 14px;
  margin-top: 20px;
}